# Configuración del backend
VITE_API_URL="https://studiumserver.onrender.com/api"

# Contraseña por defecto usada al registrar nuevos usuarios desde el frontend.
VITE_DEFAULT_PASSWORD="StudiumPassword"

# Application (client) ID generado por Azure.
VITE_MICROSOFT_CLIENT_ID=""
VITE_MICROSOFT_TENANT_ID="common"
VITE_MICROSOFT_REDIRECT_URI=""
